* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


body {
	background: #121212;
	color: #FEFEFE;
	font-family: Helvetica;
	font-size: 16px;
}

a {
	color: #FC6666;
	text-decoration-line: none;
}

#search-bar, section, footer {
	display: flex;
	justify-content: center;
}

header {
	color: #FFF;
	text-align: center;
	font-size: 32px;
	margin: 5px;
}

#search-bar {
	background: linear-gradient(to bottom left, #9d33f6, #c733a2);
	margin: 10px 0;
}

form {
	margin: 53px;
	width: 80%;
	text-align: center;
}

input {
	padding: 12px 10px; 
	line-height: 20px;
}

.btn, #search-btn {
	padding: 15px 20px;
	border: none;
	font-weight: 700;
	font-style: oblique;
}

#search-btn {
	background-color: #3894FC;
	color: #FEFEFE;
	border-radius: 0 10px 10px 0;
	padding: 14px;
	line-height: 20px;
}

.btn {
	background: #FC6666;
	color: #FFF;
	margin: 0 7px;
	border-radius: 17px;
}

section {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	max-width: 100%;
}


.item {
	border: 2px solid #212121;
	color: #989898;
	border-radius: 5px;
	margin: 12px;
}

.item p {
	padding: 5px;
}

img {
	border-radius: 5px;
	margin: 7px;
}

footer {
	border-top: 1px solid  #9d33f6;
	background: #121212;
	padding: 3px;
	width: 100%;
	position: fixed;
	bottom: 0px;
}

@media (max-width: 700px) {

	body {
		font-size: 20px;
	}

#search-bar {
	background: linear-gradient(to bottom left, #9d33f6, #c733a2);
	margin: 7px 0;
}

form {
	min-width: 100%;
}

	img {
		width: 220px;
		height: auto;
	}

}